
.wrapper
  .side-bar
    .side-header
      %h3.side-header-name 匿名
      %ul.side-header-lists
        %li.list
          %a
            %i.fa.fa-pencil-square-o.icon
        %li.list
          %a
            %i.fa.fa-cog.icon
    .groups
      .group
        %a
          .group_name
            Test
          .group_message
            いえーい


  .chat
    .header
      .left-header
        .left-header_title
          Test
        %ul.left-header_members
          Member
          %li.member
            ：匿名
      .right-header
        %a.right-header_button EDIT



    .content
      .message
        .message-header
          .message-header-user-name 寿成
          .message-header-date 2018/05/26 08:24
        .message-body
          %p.message-body-content とったどー
      .message
        .message-header
          .message-header-user-name 高木
          .message-header-date 2018/06/45 07:34
        .message-body
          %p.message-body-content これぞコメント



    .footer
      #footer_new_message
        #footer_message
      .footer_image
        %i.fa.fa-picture-o.icon
        .send SEND




    / .footer
    /   %footer#new_message
    /     %input#message_content
    /       .footer_mask_image
    /       %i.fa.fa-picture-o.icon
    /       .SENT SENT









