.notification
.wrapper
  .side-bar
    .header
      %h3.header_name 匿名
      %ul.header_lists
        %li.list
          %a{:href => "/groups/new"}
            %i.fa.fa-pencil-square-o.icon
              \::before
        %li.list
          %a{:href => "/userss/6682/edit"}
            %i.fa.fa-cog.icon
              \::before
    .groups
      .group
        %a{:href => "/groups/16042/messages"}
      .group
        %a{:href => "/groups/16042/messages"}
      .group
        %a{:href => "/groups/16242/messages"}
      .group
        %a{:href => "/groups/16402/messages"}
      .group
        %a{:href => "/groups/16412/messages"}
      .group
        %a{:href => "/groups/16932/messages"}
      .group
        %a{:href => "/groups/23192/messages"}
  .chat
    .header
      .left-header
      .right-header
    .messages.js-messages
      .message
        .upper-message
          .upper-message_user-name 匿名
          .upper-message_date 2018/05/26 08:24
        .lower-message
          %p.lower-message_content aaaa
      .message
        .upper-message
        .lower-message
      .message
        .upper-message
        .lower-message
      .message
        .upper-message
        .lower-message
      .message
        .upper-message
        .lower-message
      .message
        .upper-message
        .lower-message
      .message
        .upper-message
        .lower-message
      .message
        .upper-message
        .lower-message
    .form
      %form#new_message.js-form{"accept-charset" => "UTF-8", :action => "/groups/16042/messages", :enctype => "multipart/form-data", :method => "post"}

