// input.font-awesome {
//   font-family: FontAwesome;
//   font-style: normal;
//   font-weight: normal;
//   text-decoration: inherit;
// }

.side-bar {
  box-sizing: border-box;
  width: 300px;
  color: white;
  float: left;
  .header {
  background-color: #253141;
  line-height: 100px;
  height: 100px;
  padding: 0 40px;
  .header__name {
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
}

  .list {
    float:right;
}

  .fa.fa-pencil-square-o.icon {
    position:absolute;
    top:0;
    margin-top:45px;
    margin-left:5px;
}
   .fa.fa-cog.icon {
    position:absolute;
    top: 0;
    margin-top:45px;
    margin-left:20px;
  }
 }
}
  .groups {
    background-color: #2f3e51;
    height: calc(100vh - 100px);
    padding: 0 20px;
    .group {
      box-sizing: border-box;
      padding: 20px 0 40px;
    }
  }


    .chat {
      width: calc(100% - 300px);
      float: right;
      position:relative;
      .header {
        height: 100px;
        padding: 0 40px;
        float: right;
        width: 100%;
        background-color: white;
        box-sizing: border-box;
        .left-header {
          float: left;
          &_title {
            color: black;
            font-size: 20px;
            margin-top: 35px;
            padding-left: 20px;
          }
          &_members {
            display: flex;
            color: #999;
            font-size: 12px;
            margin-top: 15px;
            padding-left: 20px;
          }
           &_member {
            display: flex;
            padding-left: 5px;
          }
        }
        .right-header {
          float: right;
          line-height: 40px;
          border: 1px solid #38AEF0;
          margin-top: 30px;
          padding: 0 20px;
          color: #38AEF0;
         }
       }
     }

      .content {
        max-height: calc(100vh - 100px - 90px);
        padding: 50px 50px 20px;
        box-sizing: border-box;
        background-color: #FAFAFA;
        overflow: scroll;
        float: right;
        width: 100%;
        .message {
          height:100px;
          width:600px;
        }
        .message-header {
          font-size: 15px;
        }
        .message-header-user-name {
          padding-left: 10px;
          font-weight: bold;
          font-size: 16px;
          position:relative;
        }
          .message-header-date {
            padding-left: 10px;
            color: #999;
            font-size: 12px;
            position:absolute;
            left:85px;
            bottom:102px;
        }
        .message-body-content {
          font-size: 15px;
          margin-top: 15px;
          margin-left:10px;
        }
}

.footer {
  background-color: #DDDDDD;
  height: 90px;
  width:100%;
  clear:both;
}

  .form {
    line-height: 90px;
    margin-left:30px;
}

  .form__message {
    padding:15px 700px 15px 0;
    text-align: center;
    position:relative;
}

  .form__mask {
    position:absolute;
    right:0;
    bottom:0;
    padding-right: 250px;
}

.form__submit {
  float:right;
  position:absolute;
  bottom:35px;
  right:70px;
  width:100px;
  height:100px;
}











